{% extends "base.html" %}
{% block content %}
    <h1>{{title}}</h1>
    <div>{{content|safe}}</div>
    <div>
      <ul>
        <li>作成者: {{author}}</li>
        <li>最終更新日時: {{updated-at|date:"yyyy-MM-dd HH:mm"}}</li>
        <li>タグ: {{tags}}</li>
      </ul>
    </div>
    <section class="sns-section">
      <div class="fb-like" data-href="http://clojournal.com/{{path}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      <a href="http://b.hatena.ne.jp/entry/http://clojournal.com/{{path}}" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clojournal.com/{{path}}">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </section>
{% endblock %}

{% block sns-section %}
{% endblock %}
