<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{page-title|default:"clojournal"}}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{page-description|default:"日本のClojureユーザのための情報サイト"|remove-all-tags|shorten:100}}">
    <meta property="og:url" content="http://clojournal.com/{{page-path|default:""}}">
    <meta property="og:image" content="http://clojournal.com/{{page-image|default:"/img/clojournal_title.png"}}">
    <meta property="og:site_name" content="clojournal">
    <title>{{page-title|default:"clojournal"}}</title>
    <!-- scripts and styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}

    <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="/css/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <link href="/css/shCore.css" rel="stylesheet" type="text/css" />
    <link href="/css/shClojureExtra.css" rel="stylesheet" type="text/css" />
    <script src="/js/shCore.js" type="text/javascript"></script>
    <script src="/js/shBrushClojure.js" type="text/javascript"></script>
    <script>SyntaxHighlighter.all();</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3893533-9', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
      <a href="{{servlet-context}}/"><img src="/img/clojournal_logo.png" class="img-responsive" alt="Clojournal"></a>
      <!-- navbar -->

      <nav class="navbar navbar-inverse">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#"></a>
	  </div>

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
              <li class="{{home-selected}}"><a href="{{servlet-context}}/">Home</a></li>
              <li class="{{archives-selected}}"><a href="{{servlet-context}}/archives">Archives</a></li>
	    </ul>
            <form class="navbar-form navbar-right" role="search" method="get" action="/search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q" id="srch-term" {% if words %}value="{{words|join:" "}}"{% endif %}>
              </div>
            </form>
	  </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
      </nav>
      
      <!-- End of navbar -->
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-md-4">
          <section>
            <h3>clojournalについて</h3>
            日本におけるClojureの普及を目的として、Clojureの日本語情報やイベント情報、ニュース等を配信しています。
          </section>
          <section>
            <h3>タグ</h3>
              {% for tag in tag-cloud-tags %}
              <span style="font-size: {{tag.size}}px"><a href="/tags/{{tag._id}}">{{tag._id}}</a></span>
              {% endfor %}
          </section>
          <section>
            <h3>新着記事</h3>
            <ul>
              {% for article in latest-articles %}
              <li><a href="/entry/{{article.id}}">{{article.title}}</a></li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </div>
      <!-- End of row -->
      <hr>
      <footer>
        {% block sns-section %}
        <section class="sns-section text-center">
          <div class="fb-like" data-href="http://clojournal.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
          <a href="http://b.hatena.ne.jp/entry/http://clojournal.com" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clojournal.com">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </section>
        {% endblock %}
        <p class="text-center">
          <a href="http://nyampass.com/"><img src="/img/nyampass.png" alt="Nyampass"></a>
        </p>
      </footer>
    </div>
    <!-- End of container -->
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>

