{% extends "base.html" %}
{% block content %}
  <div>
    <h2>検索結果 <small>({{first}}-{{last}}/{{total}}件)</small></h2>
    {% for article in articles %}
    <section>
      <h3><a href="/entry/{{article.id}}">{{article.title}}</a></h3>
      <p>{% digest-article article %}</p>
    </section>
    {% endfor %}
    {% if prev-page %}
    <a href="/search?q={{words|join:" "|urlescape}}&page={{prev-page}}">←Prev</a>
    {% endif %}
    {% if next-page %}
    <a href="/search?q={{words|join:" "|urlescape}}&page={{next-page}}">Next→</a>
    {% endif %}
  </div>
{% endblock %}
